body {
    background: hsl(216, 12%, 8%);
}
.rate {
  background-color: rgb(62, 55, 55);;
  color: white;
  margin: 80px;
  margin-right: 300px;
  border-radius: 10px;
  padding: 30px;
  width: 250px;
  height: 300px;
  font-family: "Overpass", sans-serif;
  font-weight: 400-700;
}

#image {
  width: 20px;
  background-size: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 64, 64);
  border-radius: 40px;
  padding: 10px;
}

p {
  color: hsl(0, 0%, 100%);
}

#rating-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

button {
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 40px;
  padding: 7px;
  font-size: 14px;
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%));
  margin-bottom: 20px;
}
.button :hover {
  background-color: hsl(25, 97%, 53%);
}

.submit {
  width: 50vw;
  font-weight: bold;
  background-color: hsl(25, 97%, 53%);
  color: black;
  width: 250px;
}
